# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Python logs
*.log

# React
frontend/node_modules/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Build folders
dist/
build/

# Temporary files
*.tmp
*.bak